.repository-cont {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;

	text-align: start;
	color: #96a3b4;
	background: linear-gradient(to right, #111729, #1D1B48);
	padding: 20px;
	border-radius: 12px
}

.repository-name {
	color: #CDD5E0;
	font-size: 1.25rem;
}

.repository-statistics {
	display: flex;
	align-items: center;
	gap: 10px;
}

.repository-statistic {
	display: flex;
	gap: 3px;
}

.repository-update {
	font-size: 0.75rem;
	margin-left: 10px;
}